<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    @DateTime.Now.ToShortDateString()
    <h2>Register</h2>
    <form method="post">
        <label for="username">Username:</label>
        <input type="text" id="a" name="a" value="@ViewData["a"]" required><br><br>

        <label for="email">Email:</label>
        <input type="text" id="b" name="b" value="@ViewData["b"]" required><br><br>
          <select name="age">
            @for(int i = 0; i <= 50; i++)
            {
                <option value="@i">@i</option>
            }


        </select> @ViewBag.sum
        <input type="submit" value="Register">
    </form>
</body>
</html>